.nav {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 20px 0px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification__chats {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__notification__etc {
  position: absolute;
  left: 30px;
  bottom: 25px;
}
